{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block body %}

    {% for item in item_list %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-3 offset-md-2">
            <img class="card" height="180px" width="180px" src="{{ item.item_image }}">
        </div>

        <div class="col-md-3">
            <h3>{{item.item_name}}</h3>
            <h5>{{item.item_desc}}</h5>
            <h6>{{item.item_price}}</h6>
        </div>
        <div class="col-md-1">
            <a href="{% url 'food:detail' item.id %}" class="btn btn-success" style="margin-top: 30px;">Details</a>
        </div>
        <!-- hr is used to add line between each data. -->
        <hr style="margin-top: 20px;" />

    </div>

    <!-- <ul>
        <li>
            <!-- {{item.id}} -- {{ item.item_name }} -->
    <!-- <a href="/food/{{item.id}}">{{item.id}} -- {{ item.item_name }}</a> -->
    <!-- <a href="{% url 'food:detail' item.id %}">{{item.id}} -- {{ item.item_name }}</a>
        </li>
    </ul> --> -->
    {% endfor %}

    {% endblock %}
</body>

</html>